body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
}

h2 {
    text-align: center;
    margin: 20px 0;
    color: #333;
    font-size: 24px;
}

.screen {
    display: none;
    padding: 20px;
}

.screen.active {
    display: block;
}

.order-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.mesas, .para-llevar, .categories, .products, .orden-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px 0;
}

.mesa, .para-llevar-item, .category, .product {
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    width: 150px;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    font-size: 18px;
    text-align: center;
}

.mesa:hover, .para-llevar-item:hover, .category:hover, .product:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.mesa.ocupada {
    background-color: #ffcccc;
    border-color: #ff6666;
}

.mesa.terminada {
    background-color: #ccffcc;
    border: 2px solid #33cc33;
}

.para-llevar {
    margin-top: 20px;
}

.category.entradas, .product.entradas {
    background-color: #FFEBEE; /* Light Red */
}

.category.platos, .product.platos {
    background-color: #E8F5E9; /* Light Green */
}

.category.postres, .product.postres {
    background-color: #FFF3E0; /* Light Orange */
}

.category.bebidas, .product.bebidas {
    background-color: #E3F2FD; /* Light Blue */
}

.category.bebidasAlcoolicas, .product.bebidasAlcoolicas {
    background-color: #F3E5F5; /* Light Purple */
}

.category.adicionales, .product.adicionales {
    background-color: #F9FBE7; /* Light Yellow */
}

.scrollable {
    max-height: 300px;
    overflow-y: auto;
    width: 100%;
}

.quantity-controls {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.quantity-controls button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.footer .button-group {
    display: flex;
    gap: 20px;
}

.footer .button-group button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.2s ease;
}

.footer .button-group button:hover {
    background-color: #388e3c;
}

ul#confirmacion-list li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    flex-direction: column; /* Para asegurar que cada item esté en una línea separada */
    margin-bottom: 10px;
}

.cocina-item, .bar-item {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
    background-color: #f8f8f8;
    border-radius: 5px;
    width: 90%;
    max-width: 400px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
}

.cocina-item h4, .bar-item h4 {
    margin: 0 0 10px 0;
    font-size: 20px;
}

.cocina-item input[type="checkbox"], .bar-item input[type="checkbox"] {
    transform: scale(1); /* Mantener tamaño constante */
    margin-right: 10px;
}

.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;
    padding-top: 60px;
}

.modal-content {
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

input[type="number"] {
    width: 50px;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-left: 10px;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ddd;
    border-radius: 5px;
    resize: none;
}

button {
    transition: background-color 0.3s;
}

button:hover {
    background-color: #333;
}

input[type="checkbox"] {
    margin-left: 10px;
    cursor: pointer;
    transform: scale(1.2);
}

h3 {
    margin-top: 0;
}

.center-title {
    text-align: center;
}

input, select, button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul li {
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.quantity-controls {
    display: flex;
    align-items: center;
}

.quantity-controls button {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin: 0 5px;
}

.quantity-controls button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: calc(100vh - 200px); /* Ajusta según necesites */
}

.selection {
    flex: 2;
    overflow-y: auto;
}

.order {
    flex: 1;
    overflow-y: auto;
}

.categories, .products, .mesas {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.category, .product, .mesa {
    flex: 1 1 calc(20% - 20px); /* ajusta esto según el tamaño que desees */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    background-color: #f8f8f8;
}

.category {
    background-color: #e0f7fa;
}

.category:nth-child(odd) {
    background-color: #ffecb3;
}

.category:nth-child(even) {
    background-color: #c8e6c9;
}

.category:hover {
    background-color: #b2dfdb;
}

.mesa.libre {
    background-color: #c8e6c9;
}

.mesa.ocupada {
    background-color: #ffecb3;
}

.mesa:hover {
    background-color: #b2dfdb;
}

.product:hover {
    background-color: #e0e0e0;
}

.mesa-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
}

.mesa-info label {
    display: flex;
    align-items: center;
    gap: 10px;
}

#cuentas {
    width: 50px;
    margin: 0;
}

#back-to-categories {
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
}

#back-to-categories:hover {
    background-color: #0056b3;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.header, .footer {
    position: sticky;
    background: white;
    padding: 10px 0;
    z-index: 10;
}

.header {
    top: 0;
}

.footer {
    bottom: 0;
}

.scrollable {
    overflow-y: auto;
}

.cocina-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.cocina-item {
    flex: 1 1 calc(33% - 20px);
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f8f8f8;
    text-align: center;
}

.modal {
    display: none;
    position: fixed;
    z-index: 20;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    resize: none;
}

/* Estilo para cada elemento de la lista de órdenes */
ul#orden-list li {
    display: block; /* Asegúrate de que cada elemento sea un bloque */
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Si deseas que la nota aparezca en una línea separada */
ul#orden-list li div {
    margin-top: 5px;
}
